<% content_for(:title, "Listings | BonnieBNB") %>

<div class="jumbotron">
 <div class="row">
  <ul class="thumbnails">
 <div class = "listings">

<%= render @listings %>

</div>
</ul>
</div>
<div class="pagination">
<%= will_paginate @listings %>
</div>
</div>
