/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require twitter/bootstrap
 *= require_self
 *= require_tree .
 */
 .logged-in {
  text-align: right;
  color: black;
 }
 .btn-primary {
  text-align: center;
 }
 .thumbnails {
  text-align: center;
 }
 .search{
  text-align: left;
 }
 .well {
  text-align: center;
 }

 .well-lg {
  text-align: center;
  font-family: helvetica;

 }
 body {background-image:url(http://i.imgur.com/8gQKBKI.png);
  padding: 40px;
 }

 .current_user_nav {
  color: white;
  border: 1px;
 }
.thumbnail-image {
overflow: hidden;
text-align: center;
height: 50%;
}

.thumbnail-image > img {
    width: 75%;
}

.thumbnail {
  height: 300px;
}
.file {
  text-align: center;
}
.file_field {
  text-align: center;
}
.jumbotron {
text-align: left;


background-color: rgba(188, 213, 220, 0.83);
}
